
.bcgImg {
  height: 100vh;
  color: #fff;
}
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
footer{
  background: var(--dark);
  color: #fff;
  height: 5rem;
  display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
}
.line {
  height: 2px;
  width: 3rem;
  background: var(--dark);
  display: block;
  margin: 0 auto 1rem auto;
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }